* {
  border-radius: 0px !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  outline: none !important;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none !important; }

li {
  list-style-type: none; }

i, #logo {
  user-select: none; }

#header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
  z-index: 10; }
  #header #logo {
    width: 50px;
    height: 60px;
    padding-top: 5px; }
    #header #logo img {
      width: 25px;
      height: 25px; }
    #header #logo h4 {
      position: relative;
      top: -5px; }
  #header #options-btn {
    width: 40px;
    height: 50px;
    background-color: #fff;
    position: fixed;
    top: 5px;
    right: 10px;
    border: none; }
  #header #option-holder {
    width: 100px;
    height: 50px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 50px;
    right: 12.5px;
    background: #fff;
    display: none;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px; }
    #header #option-holder::before {
      content: "";
      position: absolute;
      right: 5px;
      bottom: 100%;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #fff transparent; }
    #header #option-holder button {
      z-index: 100;
      background: transparent;
      border: none;
      box-sizing: border-box; }
      #header #option-holder button:first-of-type i {
        vertical-align: middle;
        color: #2ecc71; }
      #header #option-holder button:nth-of-type(2) {
        border-left: 1px dotted #ccc; }
        #header #option-holder button:nth-of-type(2) i {
          vertical-align: middle;
          color: #e74c3c; }

#input-holder {
  width: 70%;
  height: 40px;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
  margin-left: -35%;
  position: absolute;
  left: 50%;
  top: 85px;
  border: none; }
  #input-holder #input {
    background-color: #fff;
    height: 40px;
    border: none;
    font-size: 16px !important;
    box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
    #input-holder #input:focus {
      box-shadow: none;
      -o-box-shadow: none;
      -ms-box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none; }
  #input-holder #add-task {
    background-color: #2ecc71;
    width: 40px;
    height: 40px;
    border: none;
    color: #fff; }
    #input-holder #add-task i {
      width: 100%;
      text-align: center;
      vertical-align: middle; }

#input-break {
  width: 200px;
  margin-top: 150px; }

#todo {
  width: 80%;
  height: auto;
  margin-top: 25px;
  max-width: 625px; }
  #todo #notif {
    color: #858585; }
  #todo .task {
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: auto;
    min-height: 40px;
    margin-bottom: 20px;
    padding: 10px 5px 10px 10px;
    border-left: 5px solid #e74c3c; }
    #todo .task .check-task {
      width: 20px;
      height: 20px;
      background-color: #ccc;
      cursor: pointer;
      text-align: center;
      margin-right: 10px; }
      #todo .task .check-task i {
        font-size: 18px;
        color: #ccc; }
    #todo .task .task-name {
      width: 70%;
      display: inline-block;
      font-weight: bold;
      vertical-align: middle; }
    #todo .task .delete-task, #todo .task .edit-task {
      height: 20px;
      cursor: pointer;
      padding: 0 5px;
      vertical-align: middle; }
      #todo .task .delete-task i, #todo .task .edit-task i {
        color: #ccc;
        margin-top: -3px; }
    #todo .task .delete-task {
      border-left: 1px dotted #ccc; }
      #todo .task .delete-task:hover i {
        color: #e74c3c; }
    #todo .task .edit-task:hover i {
      color: #e7a514; }

.notif {
  display: block; }

#task-break {
  margin-top: 25px;
  margin-bottom: 25px;
  display: none; }
  #task-break hr {
    width: 200px;
    margin-bottom: 0;
    border: 0.5px solid #2ecc71; }
  #task-break #task-break-circle {
    width: 40px;
    height: 20px;
    background-color: #2ecc71;
    border-radius: 10px !important;
    position: relative;
    top: -10px; }
    #task-break #task-break-circle i {
      font-size: 15px;
      color: #fff;
      vertical-align: middle;
      margin-top: -1px; }

#done {
  width: 80%;
  height: auto;
  max-width: 625px; }
  #done .done-task {
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: auto;
    min-height: 40px;
    margin-bottom: 20px;
    padding: 10px 5px 10px 10px;
    border-left: 5px solid #2ecc71; }
    #done .done-task .checked-task {
      width: 20px;
      height: 20px;
      background-color: #2ecc71;
      color: #fff;
      cursor: pointer;
      text-align: center;
      margin-right: 10px; }
      #done .done-task .checked-task i {
        font-size: 18px; }
    #done .done-task .task-name {
      color: #a6a5a4;
      width: 70%;
      display: inline-block;
      font-weight: none;
      vertical-align: middle; }
    #done .done-task .delete-task, #done .done-task .edit-task {
      height: 20px;
      cursor: pointer;
      padding: 0 5px;
      vertical-align: middle; }
      #done .done-task .delete-task i, #done .done-task .edit-task i {
        color: #ccc;
        margin-top: -3px; }
    #done .done-task .delete-task {
      border-left: 1px dotted #ccc; }
      #done .done-task .delete-task:hover i {
        color: #e74c3c; }
    #done .done-task .edit-task:hover i {
      color: #e7a514; }

#edit-bkg {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=50);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 11;
  display: none; }

#editPopup {
  width: 70%;
  height: 200px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -35%;
  z-index: 12;
  display: none; }
  #editPopup .closePopup {
    width: 30px;
    height: 30px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 50% !important;
    position: absolute;
    top: 7px;
    right: 7px; }
    #editPopup .closePopup i {
      width: 100%;
      text-align: center;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle; }

#edit-input {
  width: 75%;
  height: 30px;
  background-color: #fff;
  text-indent: 10px;
  display: block;
  position: absolute;
  margin-top: -25px;
  top: 50%;
  margin-left: -37.5%;
  left: 50%;
  font-size: 16px !important;
  border: none;
  border: 0.5px solid #e7a514; }

#save {
  width: 60px;
  height: 30px;
  background-color: #e7a514;
  text-align: center;
  color: #fff;
  display: block;
  position: absolute;
  bottom: 20%;
  margin-left: -25px;
  left: 50%;
  border: none; }

@media only screen and (max-width: 425px) {
  #done .done-task .task-name,
  #todo .task .task-name {
    width: 55%; } }
@media only screen and (max-width: 480px) {
  #done, #todo {
    width: 95%;
    height: auto; }

  #input-holder {
    width: 85%;
    height: auto;
    margin-left: -42.5%; }

  #editPopup {
    width: 85%;
    height: 400px;
    position: fixed;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -42.5%; } }
@media only screen and (min-width: 768px) {
  #input-holder,
  #editPopup {
    max-width: 500px;
    margin-left: -250px;
    left: 50%; } }

/*# sourceMappingURL=style.css.map */
